@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    BoltX<br />
    1234 New Street<br />
    <abbr title="Phone">P:</abbr>
    0800 0000 0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@boltx.com">Support@BoltX.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@boltx.com">Marketing@BoltX.com</a>
</address>